.flex_box() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 320px;
  height: 380px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  .card-title{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
